<article class="doc">
    <h2>Video</h2>

    <h3>Javascript</h3>
    <p class="code">require('./libs/Video')</p>

    <h3>HTML</h3>

    <p class="code">{{#code}}<figure class="media video full">
        <video data-src="/video/test{dir}.mp4" data-gui data-ratio-small="threebyfour" data-ratio-big="default" playsinline -webkit-playsinline muted loop autoplay  crossorigin="anonymous"></video>
    </figure>{{/code}}</p>

    <h3>Output</h3>

    <figure class="media video full">
        <video data-src="/video/test{dir}.mp4" data-gui data-ratio-small="threebyfour" data-ratio-big="default" playsinline -webkit-playsinline muted loop autoplay  crossorigin="anonymous"></video>
    </figure>
</article>