<article class="doc">
<h2>Viewport Variables</h2>

<h3>Javascript</h3>
<p class="code">require('./libs/functions/Viewport');</p>

<h3>Output</h3>
<p class="code">{{#code}}<html lang="en" style="--vph:1035px; --vpw:1058px; --vphu:1035; --vpwu:1058;"></html>{{/code}}</p>
</article>